/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: rgb(19, 96, 239);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
