<mat-card>
<mat-card-content>

    <form #form="ngForm" (ngSubmit)="onSubmitForm()">
        <mat-form-field>
            <mat-label>Enter your name</mat-label>
        <input matInput placeholder="First name" [formControl]="name" (blur)="updateErrorMessage()" required>
    @if (name.invalid) {
        <mat-error *ngIf="name.invalid">{{errorMessage}}</mat-error>
    }
</mat-form-field>
<button [disabled]="name.invalid" mat-flat-button color="primary" type="submit">Submit</button>
</form>
</mat-card-content>
</mat-card>